[submodule "moto"]
	path = moto
	url = https://github.com/spulec/moto.git
[submodule "terraform-provider-aws"]
	path = terraform-provider-aws
	url = https://github.com/hashicorp/terraform-provider-aws.git
